:root{
  --heading-type: 'fraunces', serif;
  --accent-type:  'IBM Plex Sans', sans-serif;
  --mono-type:    'IBM Plex Mono', monospace;
  --h1h6-ital: 'frauncesitalic', serif;
  --body-type: 'Lora','Georgia', serif;  
}